#apology{
    color: black;

    font-size: 16px;
    word-spacing: 5px;
}

.main-apology{
    max-width: 90%;
    max-height: 90%;
    position: relative;
    left: 6%;



}
html{
    background-color: #e6d7ce;
    font-family: 'Chivo'
}

#header{
    position: relative;
    color: #4a3b35;
    left: 44%
}
.pre-apology{
    position: relative;
    max-width: 35%;
    max-height: 100%;
    left: 29%
}

.wrapper{
    background-color: #f0e8e3;
    max-width: 35% ;
    max-height: 100%;
    position: relative;

    left: 31%;
    overflow: auto;
    border-radius: 10px;
    box-shadow:0 6px 18px rgba(0,0,0,0.06);
    line-height:1.7;color:#333;
}
#snow-dragon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    opacity: 0.9;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}
#sylvanian{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    opacity: 0.9;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}
#arrow{
    position: fixed;
    top: 80px;
    right: 170px;
    width: 200px;
    opacity: 0.9;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
    scale: 0.7;
}
#saw{
    position: fixed;
    top: 250px;
    right: 190px;
    width: 200px;
    opacity: 0.9;

}
#lily{
    position: fixed;
    top: 200px;
    left: 80px;
    width: 200px;
    opacity: 0.9;
    scale: 1.3;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
}
#midnight-cat{
    position: fixed;
    top: 400px;
    left: 1050px;
    opacity: 0.9;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));
    scale: 0.5;
}
/* --- Next Button --- */

.btn {
  background: transparent;
  border: 3px solid #b8988d;
  color: #4a3b35;
  padding: 14px 38px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Chivo', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  position: relative;
  top: 20px;
  left: 45%;
}

.btn:hover {
  background-color: #b8988d;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}